<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Додати дохід</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'financial.css' %}">
    <link rel="stylesheet" href="{% static 'add.css' %}">
</head>
<body>
    <div class="top-links">
        <a href="{% url 'main:home' %}" class="button">Головна сторінка</a>
        <a href="{% url 'income:income_history' %}" class="button">Назад</a>
    </div>

    <div class="income-form-container">
        <h2>Додати дохід</h2>
        <form method="POST" class="income-form">
            {% csrf_token %}

            <label for="datepicker">Дата отримання:</label>
            <input type="text" id="datepicker" name="date" value="{{ form.date.value|default:'' }}">

            {{ form.amount.label_tag }} {{ form.amount }}
            {{ form.source.label_tag }} {{ form.source }}

            {{ form.income_type.label_tag }} {{ form.income_type }}

            <button type="submit" class="submit-button">Зберегти</button>
        </form>
    </div>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#datepicker", {
            dateFormat: "Y-m-d",
            maxDate: "today",
            locale: "uk"
        });
    </script>
</body>
</html>