<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Історія доходів</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'history.css' %}">
    <link rel="stylesheet" href="{% static 'financial.css' %}">
</head>
<body>
    {% block content %}
    <h2>Історія доходів</h2>
    <table>
        <tr>
            <th>Джерело</th>
            <th>Сума</th>
            <th>Тип</th> <th>Дата</th>
        </tr>
        {% for income in incomes %}
        <tr>
            <td>{{ income.source }}</td>
            <td>{{ income.amount }}</td>
            <td>{{ income.get_income_type_display }}</td> <td>{{ income.date}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}

    <div class="button-container-bottom">
        <a href="{% url 'income:add_income' %}" class="button">Додати новий дохід</a>
        <a href="{% url 'main:home' %}" class="button">Головна сторінка</a>
    </div>

</body>
</html>