
{% block content %}
<h2>Ваші фінансові цілі</h2>
<a href="{% url 'goals:add_goal' %}">+ Додати ціль</a>
<ul>
    {% for goal in goals %}
    <li>
        <strong>{{ goal.name }}</strong> ({{ goal.get_goal_type_display }})  
        <br>Сума: {{ goal.current_amount }} / {{ goal.target_amount }}
        <br>Прогрес: {{ goal.progress_percentage|floatformat:2 }}%
        <br>Залишилося: {{ goal.remaining_amount }}  
        {% if goal.goal_type == 'saving' %}
        <br>Рекомендований внесок: {{ goal.monthly_contribution|floatformat:2 }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
