{% for goal in goals %}
    <div>
        <h3>{{ goal.name }}</h3>
        <p>Сума: {{ goal.target_amount }} грн</p>
        <p>Термін: {{ goal.target_date }}</p>
        <p>Прогрес: {{ goal.progress_percentage }}%</p>

        {% if goal.is_goal_achieved %}
            <p>Ціль досягнута!</p>
        {% else %}
            <!-- Форма для зміни періодичності -->
            <form method="POST" action="{% url 'goals:update_goal_recurrence' goal.id %}">
                {% csrf_token %}
                <label for="recurrence">Змінити періодичність:</label>
                <select name="recurrence" id="recurrence">
                    <option value="daily" {% if goal.recurrence == 'daily' %}selected{% endif %}>Щоденно</option>
                    <option value="weekly" {% if goal.recurrence == 'weekly' %}selected{% endif %}>Щотижня</option>
                    <option value="monthly" {% if goal.recurrence == 'monthly' %}selected{% endif %}>Щомісячно</option>
                </select>
                <button type="submit">Оновити періодичність</button>
            </form>
            
            <!-- Виведення внеску за новою періодичністю -->
            {% if goal.recurrence == 'daily' %}
                <p>Щоденний внесок: {{ goal.calculate_contribution|floatformat:2 }} грн</p>
            {% elif goal.recurrence == 'weekly' %}
                <p>Щотижневий внесок: {{ goal.calculate_contribution|floatformat:2 }} грн</p>
            {% elif goal.recurrence == 'monthly' %}
                <p>Щомісячний внесок: {{ goal.calculate_contribution|floatformat:2 }} грн</p>
            {% endif %}
        {% endif %}
        
        <p><a href="{% url 'goals:update_goal_progress' goal.id %}">Оновити прогрес</a></p>
        <form method="POST" action="{% url 'goals:delete_goal' goal.id %}">
            {% csrf_token %}
            <button type="submit">Видалити ціль</button>
        </form>
    </div>
{% endfor %}
