<h2>Додати внесок до цілі "{{ goal.name }}"</h2>
<p>Необхідно зібрати: {{ goal.target_amount }} грн</p>
<p>Назбирано: {{ goal.current_amount }} грн</p>

<form method="post">
    {% csrf_token %}
    
    <label for="{{ form.amount.id_for_label }}">Сума внеску:</label>
    <input type="number" name="amount" id="{{ form.amount.id_for_label }}" step="1" min="1" required>
    
    <button type="submit">Додати</button>
   <a href="{% url 'goals:goals_list' %}" class="button">Переглянути список цілей</a>
</form>
