<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управління бюджетом</title>
    <link rel="stylesheet" href="/static/main/style.css">
</head>
<body>
    <header>
        <h1>Головна сторінка</h1>
        <nav>
            <ul>
                <li><a href="/income/history">Внесення доходу</a></li>
                <li><a href="/expenses/history">Витрати</a></li>
                <li><a href="/goals/list">Фінансові цілі</a></li>
                <li><a href="/analytics/list">Аналітика</a></li>
            </ul>
        </nav>
    </header>

    <!-- Блок авторизації -->
    <div class="auth">
        {% if user.is_authenticated %}
            <!-- Якщо користувач авторизований -->
            <span class="username">{{ user.username }}</span>
            <a href="/user/logout" class="auth-btn">Вийти</a>
        {% else %}
            <!-- Якщо користувач не авторизований -->
            <a href="/user/login" class="auth-btn">Увійти</a>
        {% endif %}
    </div>

    <div class="container">
        <div class="outer">
            <div class="dot"></div>
            <div class="card">
                <div class="ray"></div>
                <span class="text">Бюджет</span>
                <div class="line topl"></div>
                <div class="line bottoml"></div>
                <div class="line leftl"></div>
                <div class="line rightl"></div>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Управління бюджетом</p>
    </footer>
</body>
</html>